include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ppos *.css
recursive-include ppos *.csv
recursive-include ppos *.html
recursive-include ppos *.ico
recursive-include ppos *.js
recursive-include ppos *.json
recursive-include ppos *.md
recursive-include ppos *.png
recursive-include ppos *.py
recursive-include ppos *.svg
recursive-include ppos *.txt
recursive-exclude ppos *.pyc